# Ignore everything except snack/
/*
!.gitignore
!.git/
!/snack/

# Ignore files inside snack/ that don't work in Expo Snack
snack/backend/
snack/Dockerfile
snack/docker-compose.yml
snack/web-server.js
snack/bun.lock
snack/package-lock.json
snack/.DS_Store
snack/node_modules/
snack/.expo/
snack/dist/
snack/web-build/
snack/npm-debug.*
snack/yarn-debug.*
snack/yarn-error.*